[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-dotenv = "*"
django-filter = "*"
django-heroku = "*"
cookiecutter = "*"
django-registration-redux = "*"
djangorestframework = "*"
python-dotenv = "*"
selenium = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
